@use 'pieces';

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  gap: 2rem;
  padding: 2rem;

  .board-container {
    background-color: #f3f3f4;
    border-radius: 5px;
    border: 0.1rem solid darkgray;
    overflow: hidden;
    width: min(100vh - 4rem, 100vw - 6rem - 40rem);
    height: min(100vh - 4rem, 100vw - 6rem - 40rem);

    .board {
      display: grid;
      grid-template-columns: repeat(8, 1fr);

      .cell {
        aspect-ratio: 1;
        padding: .2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        &.black-cell {
          background-color: #6a9b41;
        }
      }
    }
  }

  .side {
    width: 40rem;
    margin-left: auto;
    align-self: stretch;
    background-color: beige;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid darkgray;
  }
}